.p{
  font-size:86px;
  font-family:Brush Script MT;
  position:relative;
  left:150px;
 top:30px;
}
body{ 
  background: url(http://cdn.wallpapersafari.com/87/93/G59EAd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box{
  padding: 20px 10px 20px 10px;
  background-color:#e7e7e7;
  opacity:0.4;
  border-radius:30px;
  position:relative;
  right:450px;
  margin:8% auto auto auto;
  width:600px;
  height:250px;
  padding:40px 50px;
  display:table;
  
}
.button{
  background-color: #555555; color: white;
-webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
 }
.button:hover {
    background-color:#008CBA;
    color: white;
  }
